@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  list-style-type: none;
}

header {
  max-width: 1280px;
  margin: auto;
}

.logo {
  display: flex;
  align-items: center;
}

nav {
  display: flex;
  padding: 10px 0;
  justify-content: space-between;
  align-items: center;

  margin: auto;
}

.elements {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.elements {
  padding: 8px;
}

.elements ul li {
  cursor: pointer;
  float: left;
  font-size: 15px;
  font-weight: 600;
  margin: 0 10px;


}

.login-btn button {
  background: #d01c28;
  color: #ffffff;
  width: 75px;
  border: none;
  outline: none;
  height: 31px;
  font-weight: 600;
  border-radius: 15px;
}

.elements ul li:hover {
  border-bottom: 1px solid #d01c28;


}
main{ display: flex;
  flex-wrap: wrap;
 
  }
.contanior {

  height: 613px;
  margin: 60px auto auto auto;
  max-width: 1125px;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.item {
  margin-top: 5%;
}

.item img {
  max-width: 530px;
  height: 487.06px;
  cursor: pointer;
}

.info {
  max-width: 595px;
}

.info h1 {
  font-size: 108px;
  font-weight: 800;
  line-height: 100px;
}
.info p{
  margin-top: 10px;
  font-weight: 700;
  width: 404px;
  color:#5A5959 ;
}
.btn{
  display: flex;
  width: 322px;
  height: 41px;
  gap: 40px;
  margin-top: 20px;
}
.btn button{
  width: 141px;
  height: 41px;
  padding: 6px 16px 6px 16px;
  border: 1px;
  gap: 10px;
background: #ffffff;
border:1px solid black;
font-weight: 600;
font-size: 17px;
color: #5A5959;
cursor: pointer;
}
.btn  .shop{
  background-color: #d01c28;
  color: white;
  border: none;
  outline: none;
}
.bottom{
  margin: 10px 0;
 color: #5A5959;
 font-weight: 600; 
}
.icon img{
  margin:10px 20px 0 0;
  cursor: pointer;
}